.fa-stack {
  height: 2em;
  width: 2em;
  position: relative;
}

.fa-4x{
  font-size: 4em;
}

.fa-circle {
  background: $primary;
  border-radius: 50%;
}

.svg-inline--fa {
  width: rem(72px);
  height: rem(64px);
  path {
    fill: $white;
  }
}